* {
    background-color: #fae4be;
}


h2 {
    color: #db9318

}
div {
    color: #db9318;
}

.App {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.picture {
    border-radius: 200px;
}